# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
*.log

# production
dist
build
.next
out

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# nx
.nx/cache
.nx/workspace-data

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
Thumbs.db

